html,
body {
  background-color: #000000;
  height: 100vh !important;
}

.App {
  height: 100%;
  color: white;
}

.courses {
  background-color: #303245;
}

.selectedSections {
  max-height: none !important;
}

.courseResults {
  max-height: 500px;
  overflow-y: auto;
}

.departmentsList {
  max-height: 500px;
  overflow-y: auto;
}

.accordion-header span {
  max-width: 90%;
}

.btn-navy {
  background-color: #4d5169;
  color: white;
}

.btn-navy:hover {
  background-color: #6d718a;
}

.helpTooltip {
  font-size: 25px;
  float: right;
  line-height: 40px;
}
