.App {
  background-color: #000000;
  min-height: 100vh;
  color: white;
}

.courses {
  background-color: #303245;
}

.courseResults {
  background-color: #303245;
  height: 450px;
  overflow-y: scroll;
}
