scripts/data/results.json
scripts/data/course_mapping.json
scripts/data/seeds/*.sql
scripts/venv
scheduler/meetings.csv
scheduler/sections.csv
__pycache__/
.DS_Store
client/node_modules
e2e/node_modules